.castList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
  padding-left: 0;
}

.castListItem {
  padding: 20px 35px;
  text-align: center;
  color: #bdc0d2;
  background-color: #0e0f24;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: transform ease-in-out 250ms;
}

.castListItem:hover {
  transform: scale(1.02);
}

.castImg {
  width: 185px;
  height: 278px;
  border-radius: 15px;
  overflow: hidden;
  object-fit: cover;
}

.castListInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  margin-top: 5px;
  width: 185px;
}

.castListInfoNameAndRole {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.castListInfoName::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 2px;
  background-color: #4e4b4b;
}
