.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.reviewsListItem {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.authorAvatarAndNameWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #bdc0d2;
}

.authorAvatar {
  border-radius: 50%;
}
