.trendingMoviesListContainer {
  padding: 30px;
}

.trendingMoviesTitle {
  color: #bdc0d2;
  margin-bottom: 20px;
  text-align: center;
}

.trendingMoviesList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.movieLink {
  text-decoration: none;
}
