.moviesDetailsList {
  padding: 30px;
}

.movieDetailsHeadings {
  color: #bdc0d2;
}

.backBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  color: #fff;
  background-color: #5b46e4;
  border-radius: 20px;
  text-decoration: none;
  margin-bottom: 20px;
  transition: background-color ease-in-out 250ms;
}

.backBtn:hover,
.backBtn:focus {
  background-color: #4d3bbd;
}

.movieInfoWrapper {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.moviePoster {
  object-fit: cover;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.movieCreditsAndReviews {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.movieCreditsAndReviewsList {
  display: flex;
  gap: 10px;
}

.creditsAndReviewsLink {
  color: #4d5ae5;
}

.creditsAndReviewsLink:hover,
.creditsAndReviewsLink:focus {
  color: #404bbf;
}
